<%- include('partials/header'); -%>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    body,html{
			height: 100%;
			margin: 0;
			background: #7F7FD5;
	       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
		}

		.chat{
			margin-top: auto;
			margin-bottom: auto;
		}
		.card{
			height: 500px;
			border-radius: 15px !important;
			background-color: rgba(0,0,0,0.4) !important;
		}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}
		.msg_card_body{
			overflow-y: auto;
		}
		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;
		}
	 .card-footer{
		border-radius: 0 0 15px 15px !important;
			border-top: 0 !important;
	}
		.container{
			align-content: center;
		}
		.search{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.type_msg{
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
			height: 60px !important;
			overflow-y: auto;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 5px 10px;
			margin-bottom: 15px !important;
		}
	.active{
			background-color: rgba(0,0,0,0.3);
	}
		.user_img{
			height: 70px;
			width: 70px;
			border:1.5px solid #f5f6fa;
		
		}
		.user_img_msg{
			height: 40px;
			width: 40px;
			border:1.5px solid #f5f6fa;
		
		}
	.img_cont{
			position: relative;
			height: 70px;
			width: 70px;
	}
	.img_cont_msg{
			height: 40px;
			width: 40px;
	}
	.online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		bottom: 0.2em;
		right: 0.4em;
		border:1.5px solid white;
	}
	.offline{
		background-color: #c23616 !important;
	}
	.user_info{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
	}
	.user_info span{
		font-size: 20px;
		color: white;
	}
	.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	.msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		position: relative;
	}
	.msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		position: relative;
	}
	.msg_time{
		position: absolute;
		left: 0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_time_send{
		position: absolute;
		right:0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_head{
		position: relative;
	}
	#action_menu_btn{
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 20px;
	}
	.action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 30px;
		right: 15px;
		display: none;
	}
	.action_menu ul{
		list-style: none;
		padding: 0;
	margin: 0;
	}
	.action_menu ul li{
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 5px;
	}
	.action_menu ul li i{
		padding-right: 10px;
	
	}
	.action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}
	@media(max-width: 576px){
	.contacts_card{
		margin-bottom: 15px !important;
	}
	}
</style>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
                <form action="/chat" method="GET" >
                    <div class="form-group">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" placeholder="Search..." name="search" class="form-control search">
                                <div class="input-group-prepend">
                                    <input type="submit" class="input-group-text search_btn" value="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-body contacts_body">
                    <ui class="contacts">
                        <%if(noMatch){%>
                            <h1 style="text-align: center;">No Match Found :(</h1>
                            <%}else{%>
                                <% allusers.forEach(function(user){ %>
                                    <div class="clickable" id="<%= user.id %>" onclick="loadmessage('<%= user.id %>','<%= user.username %>','<%= user.image %>');">
                                        <li class="active">
                                            <div class="d-flex bd-highlight">
                                                <div class="img_cont">
                                                    <img src="<%= user.image %>" class="rounded-circle user_img">
                                                    <span class="online_icon"></span>
                                                </div>
                                                <div class="user_info">
                                                    <span><%= user.username %></span>
                                                    <p>Latest message here</p>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                            <% }); %>
                        <%}%>
                    </ui>
                </div>
                <div class="card-footer"></div>
            </div></div>
            <div id="iskebaad"></div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
(function(){
        var element = function(id){
            return document.getElementById(id);
        }

        // Get Elements
        var status = element('status');
        var messages = element('messages');
        var username = element('username');
        var but = element('clickme');

        // Set default status
        // var statusDefault = status.textContent;

        // var setStatus = function(s){
        //     // Set status
        //     status.textContent = s;

        //     if(s !== statusDefault){
        //         var delay = setTimeout(function(){
        //             setStatus(statusDefault);
        //         }, 4000);
        //     }
        // }

        // Connect to socket.io
		window.socket = io.connect('https://73d5d2ca.ngrok.io');
        var tp;
        // Check for connection
        if(socket !== undefined){
            console.log('Connected to socket...');
            socket.emit('join',{ self :<%- JSON.stringify(currentuser) %>});
            // Handle Output
            socket.on('output', function(data){
                console.log(data);
                //console.log(data);
                if(data.length){
                    txt1 = ``;
                    for(var x = 0;x < data.length;x++){
                        var d = new Date(data[x].date);
                        h = d.getHours();
                        m = d.getMinutes();
                        if (h.toString().length == 1) {
                            h = "0" + h.toString();
                        }
                        if (m.toString().length == 1) {
                            m = "0" + m.toString();
                        }
                        t = h+':'+m
                        if(data[x].from == <%- JSON.stringify(currentuser.id) %>){
                            txt1 += `<div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            `+ data[x].text +`
                                            <span class="msg_time_send">`+ t +`</span>
                                        </div>
                                        <div class="img_cont_msg">
                                    <img src="`+ data[x].image +`" class="rounded-circle user_img_msg" onerror="this.src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkDM78IoAieoxU-s9Z2FqmT02Nv9IujYs8l199PVP68H94TEZd&usqp=CAU';">
                                        </div>
                                    </div>`;
                        }
                        else{
                            txt1 += `
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg">
                                    <img src="`+ data[x].image +`" class="rounded-circle user_img_msg" onerror=" this.src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkDM78IoAieoxU-s9Z2FqmT02Nv9IujYs8l199PVP68H94TEZd&usqp=CAU';">
                                </div>
                                <div class="msg_cotainer">
                                    `+ data[x].text +`
                                    <span class="msg_time">`+ t +`</span>
                                </div>
                            </div>`;
                        }
                    }
					$(".afterthis").before(txt1);
					var f = document.querySelector('.msg_card_body');
					f.scrollTop = f.scrollHeight - 320;
                }
            });

            // Get Status From Server
            socket.on('status', function(data){
                // get message status
                // setStatus(data);

                // // If status is clear, clear text
                // if(data.clear){
                //     textarea.value = '';
                // }
            });

            // Handle Input
            // textarea.addEventListener('keydown', function(event){
            //     if(event.which === 13 && event.shiftKey == false){
            //         // Emit to server input
                    
            //     }
            // })
        }
    })();

    function loadmessage(id,username,image){
            var wuser ={
                _id:id,
                username:username
            };
            $("#destroyit").remove();
            window.socket.emit('loaddata',{ self :<%- JSON.stringify(currentuser) %>,with : wuser });
            var txt1 = `
                <div id ="destroyit" class="col-md-8 col-xl-6 chat">
                    <div class="card">
                        <div class="card-header msg_head">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="`+ image +`" class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span id = "username" uid = `+id+ `>`+ username +`</span>
                                </div>
                                <div class="video_cam">
                                    <span><i class="fas fa-video"></i></span>
                                    <span><i class="fas fa-phone"></i></span>
                                </div>
                            </div>
                            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                            <div class="action_menu">
                                <ul>
                                    <li><i class="fas fa-user-circle"></i> View profile</li>
                                    <li><i class="fas fa-users"></i> Add to close friends</li>
                                    <li><i class="fas fa-plus"></i> Add to group</li>
                                    <li><i class="fas fa-ban"></i> Block</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body msg_card_body">
                        <div class="afterthis"></div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                                </div>
                                <textarea id="textarea" name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                                <div class="input-group-append">
                                    <span id="clickme" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`;
                $("#iskebaad").after(txt1);
                a = document.getElementById("clickme");
                a.onclick = myFunction;
                function myFunction() {
                    var textarea = document.getElementById("textarea");
                    window.socket.emit('input', {
                            from : <%- JSON.stringify(currentuser.username) %>,
                            message: textarea.value,
                            to : $("#username").text()
                        });
                        textarea.value = '';
                    // event.preventDefault();
            }
        }

        $(document).ready(function(){
            $('#action_menu_btn').click(function(){
                $('.action_menu').toggle();
            });
        });
</script>
<%- include('partials/footer'); -%>
